body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.flex {
    display: flex;
}

#header-image {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1200px;
    width: 100%;
    filter: blur(4px);
}

#banner-text {
    font-size: 100px;
    font-weight: 700;
    position: absolute;
    color: white;
}